*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #020403;
    font-family: 'Rubik', sans-serif;
}

nav{
    display: flex;
    flex-wrap: wrap;
}

.rectangulo{
    display: flex;
    align-self: center;
}

.primerTitulo{
    display: flex;
    align-self: center;
}

.segundoTitulo{
    display: flex;
    align-self: center;
}

.redesSociales{
    display: flex;
    align-self: center;
}