*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #020403;
    --accent-color: #ADADAD;
}

body{
    background-color: var(--background-color);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: 600;
}

h2{
    color: var(--accent-color);
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

h3{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

small{
    color: #ADADAD;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.25rem;
    height: 60px;
}

input#menu-hamburguesa{
    visibility: hidden;
}

input#menu-hamburguesa ~ ul{
    background-color: var(--background-color);
    color: white;
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc(100vh - 60px);
    top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
    z-index: 2;
} /* Le da la estructura al menú que desplega la hamburguesa*/

input#menu-hamburguesa:checked ~ ul{
    display: flex;
} /* Desaparece el menú cuando se da click al menu hamburguesa */

.icon-color{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(351deg) brightness(105%) contrast(102%);
}

/* Desde este punto empieza la segunda seccion */

.seccion-principal{
    position: relative;
    background-image: url("../design/Portafolio 7/Group 99.svg");
    bottom: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.imagen-presentacion{
    top: 90px;
    bottom: 100px;
    display: flex;
    position: absolute;
    width: 200px;
    z-index: 1;
    left: 50%;
    margin-left: -100px;
    margin-top: 30px;
}

.contenedor-h2{
    display: flex;
    justify-content: center;
    padding-top: 320px;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}

.contenedor-h1{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.redes-sociales{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 30px;

}


/* En este punto entra la seccion sobre mi */

.section{
    padding: 1rem;
}

.seccion-about{
    position: relative;
    color: white;
    background-image: url("../design/Portafolio 7/Group 98.svg");
    bottom: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-top: 70px;
}

.texto-alinear{
    padding: .25rem 1.5rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}



/* un div para el circulo del fondo */

.seccion-habilidades{
    position: relative;
    bottom: 70px;
    background-image: url("../design/Portafolio 7/Group 97.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60px;
    background-position-y: initial;
}

.seccion-experiencia{
    position: relative;
    bottom: 70px;
}

.seccion-portafolio{
    position: relative;
    bottom: 70px;
    background-image: url("../design/Portafolio 7/Group 97-2.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 80px;
    background-position-y: initial;
    background-position-x: -20px;

}

.seccion-contacto{
    position: relative;
    bottom: 70px;
}

.sociales{ 
    display: grid;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    color: white;
    grid-template-columns: 1fr 1fr;
}

.mobile-card,
.motion-card,
.sistemas-card,
.desarrollo-card{
    padding: 1rem;
    text-align: center;
}


.mobile-img,
.motion-img,
.sistemas-img,
.desarrollo-img {
    width: 60px;
    height: 60px;
    background-color: #1c1616;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .75rem auto;
}

.social-icon{
    width: 40px;
    height: 40px;
}


/* SECCION DE EXPERIENCIA */

.cards-experiencia{
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.visual,
.product{
    border-bottom: 1px solid #ADADAD;
    padding: 10px;
}

.ui{
    padding: 10px;
}

.fechas-exp,
.descrip-exp{
    display: inline-block;
}

.seccion-experiencia>h1{
    padding-bottom: 15px;
}


/* SECCION DE PORTAFOLIO */

.galeria-proyectos{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 1rem;
}

.galeria-proyectos > img{
    max-width: 100%;
    object-fit: cover;
    min-width: 100%;
}

.seccion-portafolio>h1{
    padding-bottom: 15px;
}




/* SECCION DE CONTACTO */

/* esta clase me permite establecer los íconos de manera correcta */
.contacto{ 
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    color: white;
}

/* estas clases son para las cards */

.contacto-card,
.email-card{
    padding: 1rem;
    text-align: center;
}

.contacto-img,
.email-img{
    background-color: var(--background-color);
    border: 1px solid white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .75rem auto;
}













footer{
    padding: 1rem;
    text-align: center;
    background-color: var(--background-color);
    color: white;
}










@media screen and ( min-width:600px ) {  
    label{
        display: none;
    }

    input#menu-hamburguesa ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
        z-index: 22;
    }
    .galeria-proyectos{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media screen and ( min-width:860px ) {
    nav label{
        display: none;
    }

    input#menu-hamburguesa ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
    }

    .section{
        padding: 1.5rem 5rem;
    }

    .contacto{
        justify-content: space-evenly;
    }

    .seccion-habilidades{
        position: relative;
        bottom: 70px;
        background-image: url("../design/Portafolio 7/Group 97.svg");
        background-repeat: no-repeat;
        background-position: right;
        background-size: 70px;
        background-position-y: initial;
    }

    .seccion-habilidades>h1{
        text-align: left;
    }

    .text-center{
        text-align: center;
    }

    .seccion-about{
        padding-top: 70px;
    }

}

